.header-phone {
    margin: 0 0 50px 0;
}

.header-phone {
    white-space: nowrap;
    user-select: text;
    display: flex;
    margin-right: 15px !important;
    margin-left: 10px !important;
}

.header-phone img {
    padding: 0 10px 0 0;
}

@media screen and (max-width: 1500px) {

    .header-phone {
        margin: 0 0 10px 30px !important;
    }
    
}

@media screen and (max-width: 720px) {

    .header-phone {
        display: none;
    }

}



