.time-table-adults-chosen-days {
    display: none;
    margin: 0 0 30px 9%;
    & button {
        color: #000;
        margin: 0 10px 0 0;
        padding: 6px 22px;
        border-radius: 100px;
        background-color: #fff;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
        outline-width: 0;
    }
}

.adults-day-chosen {
    border: 3px solid #FFC328;
}

.adults-day-unchosen {
    border: 3px solid #ffffff;
}

.time-table-adults {
    margin: 0 9%;
    font-size: 24px;
    box-shadow: 4px 4px 10px 3px #ABABAB;

    & tr:first-child > th {
        border-top: 1px solid #666;
    }

    & tr > td:last-child,
    & tr > th:last-child {
        border-right: 1px solid #666;
    }

    & tr:first-child > th:first-child {        
        border-radius: 10px 0 0 0;
        -ms-border-radius: 10px 0 0 0;
        -o-border-radius: 10px 0 0 0;
        -webkit-border-radius: 10px 0 0 0;
        -moz-border-radius: 10px 0 0 0;
    }

    & tr:first-child > th:last-child {
        border-radius: 0 10px 0 0;
        -ms-border-radius: 0 10px 0 0 0;
        -o-border-radius: 0 10px 0 0 0;
        -webkit-border-radius: 0 10px 0 0 0;
        -moz-border-radius: 0 10px 0 0 0;
    }

    & tr:last-child > td:first-child {
        border-radius: 0 0 0 10px;
        -ms-border-radius: 0 0 0 10px;
        -o-border-radius: 0 0 0 10px;
        -webkit-border-radius: 0 0 0 10px;
        -moz-border-radius: 0 0 0 10px;
    }

    & tr:last-child > td:last-child {
        border-radius: 0 0 10px 0;
        -ms-border-radius: 0 0 10px 0;
        -o-border-radius: 0 0 10px 0;
        -webkit-border-radius: 0 0 10px 0;
        -moz-border-radius: 0 0 10px 0;
    }

    & th {
        padding: 25px 10px;
        font-size: 25px;
        border-bottom: 1px solid #666666;
        border-left: 1px solid #666666;
    }

    & td {
        padding: 10px;
        width: 10%;
        border-bottom: 1px solid #666666;
        border-left: 1px solid #666666;
    }

    border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

@media screen and (max-width: 1340px) {

    .time-table-adults {
            
        & tr:first-child > th:nth-of-type(4) {
            border-radius: 0 10px 0 0;
            -webkit-border-radius: 0 10px 0 0;
            -moz-border-radius: 0 10px 0 0;
            -ms-border-radius: 0 10px 0 0;
            -o-border-radius: 0 10px 0 0;
        }
    
        & tr:last-child > td:nth-of-type(4) {
            border-radius: 0 0 10px 0;
            -webkit-border-radius: 0 0 10px 0 0;
            -moz-border-radius: 0 0 10px 0 0;
            -ms-border-radius: 0 0 10px 0 0;
            -o-border-radius: 0 0 10px 0 0;
        }
    
        & tr > td:nth-of-type(4),
        & tr > th:nth-of-type(4) {
            border-right: 1px solid #666;
        }
    
    }

    .time-table-adults-chosen-days {
        display: block;
    }

    .time-table-adults-hidden {
        display: none;
    }

}

@media screen and (max-width: 1044px) {

    .time-table-adults-chosen-days button {
        font-size: 17px;
    }

    .time-table-adults {
    
        & th {
            padding: 18px 7px;
            font-size: 17px;
        }
    
        & td {
            padding: 10px 7px;
            font-size: 16px;
        }

    }
    
}

@media screen and (max-width: 820px) {

    .time-table-adults-chosen-days {
        margin: 0 0 30px 3%;
    }

    .time-table-adults {
        margin: 0 2%;
    }
    
}

@media screen and (max-width: 600px) {

    .time-table-adults-chosen-days button {
        font-size: 17px;
    }

    .time-table-adults {
    
        & th {
            padding: 16px 7px;
            font-size: 15px;
        }
    
        & td {
            padding: 10px 7px;
            font-size: 14px;
        }
    }
   
}

@media screen and (max-width: 460px) {

    .time-table-adults {
    
        & th {
            padding: 16px 4px;
            font-size: 14px;
        }
    
        & td {
            padding: 10px 4px;
            font-size: 13px;
        }
    
    }

}

@media screen and (max-width: 360px) {

    .time-table-adults {
        & th {
            font-size: 13px;
        }
    
        & td {
            font-size: 12px;
        }
    }

}