.contacts {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 60px 0 0 0;
    padding: 100px 9% 120px;
    background-color: #FCFCFC;
}

.contacts p {
    font-size: 20px;
}

.contacts h2 {
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width: 1440px) {

    .contacts {
        padding: 50px 9% 100px;
    }

    .contacts h2 {
        font-size: 20px;
    }

    .contacts p {
        font-size: 15px;
    }

}

@media screen and (max-width: 1000px) {

    .contacts {
        padding: 54px 9%;
    }

}

@media screen and (max-width: 768px) {

    .contacts {
        flex-direction: column;
        padding: 44px 60px 20px;
    }

}

@media screen and (max-width: 788px) {

    .contacts {
        padding: 80px 60px 20px;
    }

}

@media screen and (max-width: 600px) {

    .contacts {
        flex-direction: column;
        padding: 80px 20px 20px;
    }
    
}