
.price-table-children {
    margin: 0 9%;
    font-size: 24px;
    box-shadow: 4px 4px 10px 3px #ABABAB;

    & tr:first-child > th {
        border-top: 1px solid #666;
    }

    & tr > td:last-child,
    & tr > th:last-child {
        border-right: 1px solid #666;
    }

    & tr:first-child > th:first-child {        
        border-radius: 10px 0 0 0;
        -ms-border-radius: 10px 0 0 0;
        -o-border-radius: 10px 0 0 0;
        -webkit-border-radius: 10px 0 0 0;
        -moz-border-radius: 10px 0 0 0;
    }

    & tr:first-child > th:last-child {
        border-radius: 0 10px 0 0;
        -ms-border-radius: 0 10px 0 0 0;
        -o-border-radius: 0 10px 0 0 0;
        -webkit-border-radius: 0 10px 0 0 0;
        -moz-border-radius: 0 10px 0 0 0;
    }

    & tr:last-child > td:first-child {
        border-radius: 0 0 0 10px;
        -ms-border-radius: 0 0 0 10px;
        -o-border-radius: 0 0 0 10px;
        -webkit-border-radius: 0 0 0 10px;
        -moz-border-radius: 0 0 0 10px;
    }

    & tr:last-child > td:last-child {
        border-radius: 0 0 10px 0;
        -ms-border-radius: 0 0 10px 0;
        -o-border-radius: 0 0 10px 0;
        -webkit-border-radius: 0 0 10px 0;
        -moz-border-radius: 0 0 10px 0;
    }

    & th {
        padding: 25px 10px;
        font-size: 25px;
        border-bottom: 1px solid #666666;
        border-left: 1px solid #666666;
    }

    & td {
        padding: 10px;
        width: 10%;
        border-bottom: 1px solid #666666;
        border-left: 1px solid #666666;
    }

    border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}

.price-table-children-second {
    display: none;
}

@media screen and (max-width: 1110px) {

    .price-table-children {
    
        & th {
            padding: 18px 7px;
            font-size: 17px;
        }
    
        & td {
            padding: 10px 7px;
            font-size: 16px;
        }

    }
    
}

@media screen and (max-width: 820px) {

    .price-table-children {
        margin: 0 2%;
    }

    .price-table-children-second {
        margin-top: 40px;
    }
    
}

@media screen and (max-width: 740px) {

    .price-table-children {
            
        & tr:first-child > th:nth-of-type(3n) {
            border-radius: 0 10px 0 0;
            -webkit-border-radius: 0 10px 0 0;
            -moz-border-radius: 0 10px 0 0;
            -ms-border-radius: 0 10px 0 0;
            -o-border-radius: 0 10px 0 0;
        }
    
        & tr:last-child > td:nth-of-type(3n) {
            border-radius: 0 0 10px 0;
            -webkit-border-radius: 0 0 10px 0;
            -moz-border-radius: 0 0 10px 0;
            -ms-border-radius: 0 0 10px 0;
            -o-border-radius: 0 0 10px 0;
        }
        & tr:first-child > th:nth-of-type(4n) {
            border-radius: 10px 0 0 0;
            -webkit-border-radius: 10px 0 0 0;
            -moz-border-radius: 10px 0 0 0;
            -ms-border-radius: 10px 0 0 0;
            -o-border-radius: 10px 0 0 0;
        }
    
        & tr:last-child > td:nth-of-type(4n) {
            border-radius: 0 0 0 10px;
            -webkit-border-radius: 0 0 0 10px;
            -moz-border-radius: 0 0 0 10px;
            -ms-border-radius: 0 0 0 10px;
            -o-border-radius: 0 0 0 10px;
        }
    
        & tr > td:nth-of-type(3n),
        & tr > th:nth-of-type(3n) {
            border-right: 1px solid #666;
        }
    
    }

    .price-table-children-second {
        display: block;
    }

    .thecondThree {
        display: none;
    }
    
}

@media screen and (max-width: 600px) {

    .price-table-children-chosen-lessons {

        & button {
            font-size: 14px;
        }

    }

    .price-table-children {
    
        & th {
            padding: 16px 7px;
            font-size: 15px;
        }
    
        & td {
            padding: 10px 7px;
            font-size: 14px;
        }
    }
   
}

@media screen and (max-width: 490px) {
    
    .price-table-children-chosen-lessons {

        & button {
            font-size: 12px;
            margin: 0 7px 0 0;
            padding: 6px 16px;
        }

    }

}

@media screen and (max-width: 460px) {

    .price-table-children {
    
        & th {
            padding: 16px 4px;
            font-size: 14px;
        }
    
        & td {
            padding: 10px 4px;
            font-size: 13px;
        }
    
    }

}

@media screen and (max-width: 400px) {

    .price-table-children-chosen-lessons {

        & button {
            font-size: 11px;
            margin: 0 5px 0 0;
            padding: 6px 9px;
        }

    }

}

@media screen and (max-width: 360px) {

    .price-table-children-chosen-lessons {

        & button {
            font-size: 10px;
        }

    }

    .price-table-children {

        & th {
            font-size: 13px;
        }
    
        & td {
            font-size: 12px;
        }

    }

}