.app {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.arrow-to-top, .arrow-to-top-hidden {
    position: fixed;
    bottom: 30px;
    right: 30px;
    & img {
        width: 60px;
        height: auto;
    }
}

.arrow-to-top-hidden {
    display: none;
}

@media screen and (max-width: 688px) {
    
    .arrow-to-top {
        display: none;
    }

}