.main {
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: 1920px;
}
    
.main-text {
    flex-shrink: 3.0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    margin: 65px 0 0 8%;

}
  
.main-text h1 {
    font-size: 48px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    line-height: 50px;
}
  
.main-text p {
    font-size: 25px;
    line-height: 35px;
    margin: 40px 0;
}

.main-btn {
    padding: 18px 34px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.1) 47.92%, rgba(0, 0, 0, 0.08) 100%), #F9CB3A;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
    align-self: flex-start;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.main-socials {
    position: absolute;
    bottom: 4%;
    left: 8%;
    display: flex;
    flex-direction: column;
    max-width: 140px;
}

.main-socials p {
    color: #fff;
    font-size: 17px;
    white-space: nowrap;
    justify-self: center;
    margin: 0 6px 13px 2px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.85);
}

.main-socials-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    & a:nth-child(2) img {
        height: 23px;
        margin: 2.5px 0 0 0;
    }
}

.main-imgs {
    position: relative;
    height: 664px;
    width: 75%;
    max-width: 1045px;
}

.main-img-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 32.5%;
    height: 75%;
    transform: skewX(-10deg);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 15px;
        
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    
    &:nth-of-type(1) {
        top: 12%;
        left: 7%;
    }

    &:nth-of-type(2) {
        z-index: 1;
        top: 2%;
        left: 34%;
    }

    &:nth-of-type(3) {
        top: 12%;
        left: 60%;
    }
    
}

.main-img {
    height: 100%;
    width: auto;

    transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -o-transform: skewX(10deg);
}

.main-img-wrapper:hover {
    z-index: 2;
    width: 35%;

    &:nth-of-type(1) {
        left: 5.8%;
    }

    &:nth-of-type(2) {
        left: 32.7%;
    }

    &:nth-of-type(3) {
        left: 58.8%;
    }
}
  
.main-blue-wave {
    position: absolute;
    top: 56.5%;
    width: 99.1vw;
    max-width: 1920px;
    height: 120%;
    z-index: -1;
}


@media screen and (max-width: 1545px) {

    .main-text h1 {
        font-size: 40px;
        line-height: 45px;
    }
      
    .main-text p {
        font-size: 22px;
        line-height: 32px;
    }
    
    .main-btn {
        padding: 18px 32px;
        font-size: 21px;
    }

    .main-img-wrapper {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

}


@media screen and (max-width: 1440px) {

    .main-text {
        margin-top: 40px;
    }

    .main-text h1 {
        font-size: 37px;
        line-height: 40px;
    }
      
    .main-text p {
        font-size: 21px;
        line-height: 30px;
        margin: 20px 0;
    }
    
    .main-btn {
        font-size: 21px;
    }

    .main-imgs {
        height: 450px;
        width: 70%;
        max-width: 1045px;
    }

    .main-socials p {
        display: none;
    }

    .main-socials {
        width: 200px;
        max-width: 200px;
    }

    .main-blue-wave {
        top: 48%;
        max-width: 1440px;
    }

}


@media screen and (max-width: 1080px) {

    .main {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .main-img-wrapper {
        width: 30%;
        height: 90%;

        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
    }

    .main-img-wrapper:hover {
        &:nth-of-type(1) {
            left: 4.5%;
        }
    
        &:nth-of-type(2) {
            left: 31.5%;
        }
    
        &:nth-of-type(3) {
            left: 57.5%;
        }
    }

    
    .main-text {
        width: 80%;
        margin: 20px auto;
    }

    .main-text h1 {
        font-size: 42px;
        line-height: 40px;
        margin: 40px 20px 0;
    }

    .main-text p {
        font-size: 24px;
        line-height: 32px;
        margin: 30px 20px 20px;
    }

    .main-btn {
        margin-top: 20px;
        align-self: center;
    }

    .main-imgs {
        height: 450px;
        width: 97.5%;
        margin: 0 0 0 2.5%;
    }

    .main-socials {
        display: none;
        align-items: center;
        justify-content: center;
    }

    .main-blue-wave {
        top: 90%;
    }

}

@media screen and (max-width: 1024px) {

    .n-carousel-header h1 {
        font-size: 35px;
    }
    
}

@media screen and (max-width: 768px) { 

    .main-blue-wave {
        display: none;
    }

}

@media screen and (max-width: 668px) {

    .main {
        margin-top: 40px;
    }

    .main-img-wrapper {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

    .main-text {
        width: 90%;
        margin: 10px auto;
    }

    .main-text h1 {
        font-size: 32px;
        line-height: 35px;
    }

    .main-text p {
        font-size: 20px;
        line-height: 32px;
    }

    .main-btn {
        padding: 15px 30px;
        font-size: 19px;
    }

    .main-imgs {
        height: 350px;
    }


}

@media screen and (max-width: 444px) {

    .main {
        margin-top: 50px;
    }

    .main-img-wrapper {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .main-img-wrapper:hover {
        z-index: 2;
        width: 35%;
    
        &:nth-of-type(1) {
            left: 4.5%;
        }
    
        &:nth-of-type(2) {
            left: 31.3%;
        }
    
        &:nth-of-type(3) {
            left: 57.7%;
        }
    }

    .main-imgs {
        height: 220px;
    }

    .main-text h1 {
        font-size: 28px;
    }

    .main-text p {
        font-size: 17px;
        line-height: 32px;
        margin: 20px 15px 15px;
    }

    .main-btn {
        padding: 12px 26px;
        font-size: 15px;
    }
}

@media screen and (max-width: 322px) {

    .main-text h1 {
        font-size: 23px;
    }
    
    .main-text p {
        font-size: 16px;
        line-height: 32px;
        margin: 15px;
    }

}