.service {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center;
    background-size: cover;
    height: 280px;
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);   
}

.service:hover {

    & .service-content {
        max-height: 300px;
    }

    & .service-content {
        & p {
            opacity: 1;
        }
    
        & a {
            opacity: 1;
        }
    }
}

.service-background {
    position: absolute;
    height: auto;
    width: 110%;
}

.service-content {
    position: absolute;
    width: 93%;
    max-height: 10%;
    overflow: hidden;
    background-color: #285075;
    opacity: 0.85;
    padding: 20px 30px;

    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

    & h2 {
        font-size: 26px;
    }
    
    & p {
        opacity: 0;
        margin: 18px 0;
        font-size: 18px;
        line-height: 18px;

        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }

    & a {
        opacity: 0;
        color: #FFF;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        border-bottom: 2px solid rgba(255, 255, 255, 0.432);
    
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }

    & a:hover {
        border-bottom: 2px solid #fff;
    }
}


@media screen and (max-width: 1600px) {

    .service {
        height: 265px;      
    }
    
    // custom setings - children
    .service-ofp .service-content h2 {
        font-size: 23px;
    }
    // ./custom setings

}


@media screen and (max-width: 931px) {

    .service {
        height: 225px;      
    }

    .service-content{

        & h2 {
            font-size: 20px !important;
        }

        & p {
            font-size: 14px;
            margin: 12px 0;
            line-height: 17px;
        }

        & a {
            font-size: 15px;
        }
    }

}

@media screen and (max-width: 400px) {

    .service {
        height: 180px;
    }

    .service-content {
        max-height: 5%;
        padding: 15px 20px;
    }
  
    .service-content{

        & h2 {
            font-size: 18px !important;
            line-height: 12px !important;
        }

        & p {
            font-size: 13px;
            margin: 12px 0 10px;
            line-height: 14px;
        }

        & a {
            font-size: 14px;
        }
    }

}