// Contacts
.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-contacts span {
    margin: 10px 0 0 0;
}

.footer-addres, .footer-phone {
    white-space: nowrap;
    user-select: text;
    display: flex;
    margin: 10px 0;
    font-size: 15px;
}

.footer-addres img, .footer-phone img {
    padding: 0 10px 0 5px;
}

.footer-socials {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: 35px 0 0 0;
}

.footer-socials p {
    color: #fff;
    font-size: 17px;
    white-space: nowrap;
    justify-self: center;
    margin: 0 6px 20px 0;
}

.footer-socials-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & a:nth-child(2) img {
        height: 16px;
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 750px) {

    .footer-contacts {
        align-items: center;
    }

    .footer-socials {
        width: 200px;
        margin-top: 25px;
    }

    .footer-socials p {
        margin-left: 0;
    }

}